.uldiv{
	background-color: black;
	color:white;
	border:2px solid yellow;
	margin:auto;
	text-align:center;
}

.div2{
	background-color: yellow;
	width:200px;
	height:200px;
	border:3px solid black;
float:left;
}

.div3{
	background-color: black;
	width:200px;
	height:200px;
	border:3px solid red;
	float:left;
	margin-left:15px;
}

.div4{
	background-color: blue;
	width:200px;
	height:200px;
	border:3px solid pink;
	float:left;
	margin-left:15px;
}